body,
html {
    margin: 0;
    padding: 0;
    height: auto;
      

}

.form-con {
    position: absolute;
    top: 20vh;
    background: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px #000;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.a
    text-align:center;
}
